# PPTX versions of talks
.pptx

# Large files that are present in google drive
simulations/
simulations_gn/

# Mac files
.DS_Store

# Python stuff
.ipynb_checkpoints
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron